.Paper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Form .inputs {
  gap: 20px;
  width: 100%;
}
.nxtButton {
  display: flex;
  justify-content: space-between;
}
.Next {
  margin-left: 200px;
}
.Addbutton {
  color: black;
}
/* Adjust the width and gap as needed for smaller screens */
@media screen and (max-width: 600px) {
  .Form .MuiTextField-root {
    width: 100%;
  }

  .Form .inputs {
    gap: 10px;
  }
}
