.aboutbox {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.heading {
  font-size: 2.5rem;
  text-align: center;
}

.box-bg {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.para,
.box {
  flex-basis: calc(50% - 1rem);
}

.shareoption {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
  justify-content: center;
}

.shareoption a {
  color: rgb(128, 15, 0);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightslategray;
  width: 100%;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .aboutbox {
    gap: 1rem;
  }

  .box-bg {
    padding: 1.5rem;
    display: inline;
  }

  .shareoption {
    gap: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .aboutbox {
    width: 130vw;
    padding: 10px;
  }
  .footer {
    width: 130%;
  }
}
