.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #a1a3e2;
  color: white;
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;
}

.navleft {
  display: flex;
  align-items: center;
}
.navleft img {
  height: 35px;
  width: 150px;
  border-radius: 10px;
}

.logoNav {
  width: 100px;
}

.navRight {
  display: flex;
  align-items: center;
}

button {
  margin: 0 8px;
  padding: 5px 10px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.resume-btn:hover {
  color: rgb(209, 63, 99);
}

/* Add media query for tablets */
@media screen and (max-width: 768px) {
  .navRight {
    display: none;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
  }

  .change:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .change:nth-child(2) {
    opacity: 0;
  }

  .change:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  /* Show the menu when the burger is clicked */
  .show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #91c8e2;
    z-index: 1;
    padding: 5px;
  }

  .show a {
    margin-bottom: 10px;
  }

  .show button {
    width: 100%;
    font-size: 16px;
  }
}
/* Add media query for screens with a maximum width of 400px */
@media screen and (max-width: 400px) {
  .navRight {
    /* Hide the right-side navigation links */
    display: none;
  }
  .Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #a1a3e2;
    color: white;
    position: sticky;
    top: 0;
    z-index: 99;
    width: 130vw;
  }
  .burger {
    display: block;
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
  }

  .change:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .change:nth-child(2) {
    opacity: 0;
  }

  .change:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  /* Show the menu when the burger is clicked */
  .show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #91c8e2;
    z-index: 1;
    padding: 5px;
  }

  .show a {
    margin-bottom: 10px;
  }

  .show button {
    width: 100%;
    font-size: 16px;
  }
}
