.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #9c9696;
  color: white;
  position: sticky;
  top: 0;
  z-index: 99;
}

.navleft {
  display: flex;
  align-items: center;
}

.logoNav {
  width: 100px;
}

.navRight {
  display: flex;
  align-items: center;
}

button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

/* Add media query for tablets */
@media screen and (max-width: 768px) {
  .navRight {
    display: none;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
  }

  .change:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .change:nth-child(2) {
    opacity: 0;
  }

  .change:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  /* Show the menu when the burger is clicked */
  .show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #333;
    z-index: 1;
    padding: 10px;
  }

  .show a {
    margin-bottom: 10px;
  }

  .show button {
    width: 100%;
  }
}
