.homepage-bg {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}
.resume:hover .MuiButtonBase-root.MuiButton-root.buttons-temp {
  visibility: visible;
}
.resume {
  display: flex;
  justify-content: center;
}
.MuiButtonBase-root.MuiButton-root.buttons-temp {
  position: absolute;
  bottom: 30%;
  padding-right: 20px;

  visibility: hidden;
}
@media (max-width: 768px) {
  .MuiButtonBase-root.MuiButton-root.buttons-temp {
    position: relative;
    padding: 15px;
    bottom: 20%;
    visibility: hidden;
  }
  .resume {
    display: flex;
    align-items: center;
  }
  .resume:hover .MuiButtonBase-root.MuiButton-root.buttons-temp {
    visibility: visible;
  }
}
